<!DOCTYPE html>
<html>
<head>
	<title>Ajouter Licence</title>
	<meta charset="utf-8"/>
</head>
<body>
	<form method="GET" action="../modele/modele.php?action=addLicence">
		Note sur les licences :<input type="text" name="notesLicence"/><br>
		Date de la licence :<input type="date" name="dateLicence"/><br>
		Catégorie de licence :<input type="text" name="catLicence"/><br>
		Le dirigreant :<input type="text" name="dirigeant"/><br>
		Inscrit à la new Letter ? <input type="text" name="inscritNewLette"/><br>
		Licences disponibles : <input type="text" name="licenceDistrictDispo"/><br>
		Formation de la licence :<input type="text" name="formationLicence"/><br>
		Demande Attestation Financière:<input type="text" name="demandeAttFincancier"/><br>
		Demande cottisation financière :<input type="text" name="demandeCotiFinancier"/><br>
		Numéro de chèque financier :<input type="text" name="numChequeFinancier"/><br>
		Renouvellement Licence : <input type="text" name="renouvLicence"/><br>
		<input type="submit" value="Ajouter"/>
	</form>
</body>
</html>